@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Thin.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@import "tailwindcss";
/*
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
*/

:root {
  font-family: Raleway, system-ui, sans-serif !important;
  font-weight: 100 !important;
}

/* Apply to all elements to override potential :host styles */
* {
  font-family: inherit;
  font-weight: inherit;
}
