@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@import "tailwindcss";
/*
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
*/

:root {
  font-family: Raleway, system-ui, sans-serif !important;
  font-weight: 200;
  color: #333;
}

/* Apply to all elements to override potential :host styles */
* {
  font-family: inherit;
  /*font-weight: inherit;*/
}
