---
import { s } from "astro-expressive-code/hast";

interface Props {
  shown: number;
  total: number;
  query?: string;
}
const { shown, total, query } = Astro.props;
---

<p class="text-muted-foreground">
  Mostrando {shown} de {total} resultados {query ? `para ${query}` : ""}
</p>
