---
import { s } from "astro-expressive-code/hast";

interface Props {
  shown: number;
  total: number;
  query: string;
}
const { shown, total, query } = Astro.props;
---

<>
  <h1 class="text-3xl font-bold text-foreground mb-2">
    Resultados de búsqueda
  </h1>
  {
    query && (
      <p class="text-muted-foreground">
        Mostrando {shown} de {total} resultados para "{query}"
      </p>
    )
  }
</>
