---
import Show from "./Show.astro";
interface Props {
  shown: number;
  total: number;
  query?: string;
}
const { shown, total, query } = Astro.props;
---

<p class="text-muted-foreground">
  Mostrando <span class="text-primary">{shown}</span> de <span
    class="text-primary">{total}</span
  > resultados
  <Show when={query}>
    <span> para <span class="text-primary">{query}</span></span>
  </Show>
</p>
