---
interface Props {
  query?: string;
}

const { query = "" } = Astro.props;
---

<div class="relative flex items-center max-w-md w-full mx-8">
  <span
    class="absolute left-7 top-1/2 -translate-y-1/2 flex items-center pointer-events-none"
  >
    <svg
      class="h-4 w-4 text-muted-foreground"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      aria-hidden="true"
      focusable="false"
    >
      <title>Buscar</title>
      <circle cx="11" cy="11" r="8" stroke="currentColor" stroke-width="2"
      ></circle>
      <line
        x1="21"
        y1="21"
        x2="16.65"
        y2="16.65"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"></line>
    </svg>
  </span>
  <input
    type="text"
    placeholder="Buscar en el blog..."
    class="m-4 pl-10 pr-4 h-11 w-full rounded-md border bg-secondary text-base ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary/20 focus-visible:border-primary transition-all duration-200"
    value={query}
    name="q"
    aria-label="Buscar en el blog"
  />
</div>
