---
import { t } from "../../i18n/index";
import BlogLayout from "../../layouts/BlogLayout.astro";

const { lang } = Astro.params;
---

<BlogLayout
  lang={lang}
  frontmatter={{
    title: t(lang, "title"),
    description: t(lang, "title"),
    pubDate: undefined,
    updatedDate: undefined,
    tags: [],
  }}
>
  <h2>{t(lang, "menu.home")}</h2>
  <p>Welcome to the multilingual Astro starter!</p>
</BlogLayout>
